* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: initial;
}
body {
  background-color: rgb(11, 10, 11);
}
header {
  border: solid green;
  text-align: center;
}
h1 {
  border: solid rgb(246, 250, 246);
  color: white;
}
li :hover {
  background: rgb(227, 10, 39);
}
section img {
  border: solid rgb(82, 4, 249);
  display: inline-block;
  margin-top: 20px;
  margin-left: 300px;
  width: 200px;
  height: 200px;
}
figcaption {
  border: solid rgb(57, 2, 8);
  color: blue;
  margin-left: 300px;
  font-size: 10px;
}
p {
  border: solid rgb(203, 243, 56);
  color: white;
  text-align: center;
}
